/*******ELEMENTOS QUE PODEM ALTERAR ESTILO**************************************************/
body{
	background-color:transparent;
	color: black;
}

textarea{
	width: 100%;
	font-size: 12px;
}

button{
	background-color: default;
	color: black;
	border: 1px solid #808080;
}

button:hover{
	background-color: #bfbfbf;
	color: #000000;
}

.input{
	background-color: #f2f2f2;
	color: black;
	border: 1px solid #555;
}

select{
	background-color: white;
	color: black;
	border: 1px solid #808080;
}

.lbl-copy:hover{
	color: #0000ff;
}

#lbl-agencia-cliente:hover{
	text-decoration: underline;
}

.semana-inativa{
	border: 1px solid #a6a6a6;
	padding: 0 3px;
	color: #a6a6a6;
}

.semana-ativa{
	border: 1px solid black;
	padding: 0 3px;
	color: black;
	font-weight: 900;
}

#div-verificacoes-seguranca table td:hover{
	border-color: #808080;
}

.verificacao-seguranca-feita{
	background-color: #f2f2f2;
}

/*******ELEMENTOS QUE DEVEM ALTERAR COR OU LAYOUT DEPENDENDO DE AÇÕES DO USUÁRIO*******/
div .btn-atendimento-ativo{
	background-color: #bfbfbf;
	color:  #000000;
}

div .btn-atendimento-ativo:hover{
	background-color: #cccccc;
	color: #000000;
}

div .btn-atendimento-inativo{
	background-color: default;
	color: black;
}

div .btn-atendimento-inativo:hover{
	background-color: #bfbfbf;
	color: #000000;
}

div .btn-textos-feito{
	background-color: #85e085;
	color: black;
}

div .btn-textos-feito:hover{
	background-color: #006600;
	color: #d9d9d9;
}

div .btn-textos-a-fazer{
	background-color: #330000;
	color: #ff3333;
}

div .btn-textos-a-fazer:hover{
	background-color: #4d0000;
	color: #ffffff;
}
/**************************************************************************************/
